results_window_step_more_data.csv
results_window_step_more_data_indepth.csv
results_window_step_train3_data.csv
results_window_step_train4_data.csv
window_step_size_train1.csv
window_step_size_train1_v2.csv
window_step_size_train1_v3.csv
window_step_size_train1_v4.csv
window_step_size_train1_v4-run2.csv
load cv results.ipynb
abc.csv
.idea
.ipynb_checkpoints